<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>ContractLand</title>

    <!-- Bootstrap -->
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/app.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="#">
          <img src="assets/logo.svg" width="30" height="30" class="d-inline-block align-top" alt="">
          ContractLand
        </a>
      </div>
    </nav>

    <div id="creator" v-cloak class="container" style="margin-top: 1rem;">
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Token Name</label>
        <div class="col-10">
          <input class="form-control" type="text" v-model="crowdsale.name">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Token Symbol</label>
        <div class="col-10">
          <input class="form-control" type="text" v-model="crowdsale.symbol">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-datetime-local-input" class="col-2 col-form-label">Open Time</label>
        <div class="col-10">
          <input class="form-control" type="datetime-local" v-model="crowdsale.openingTime">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-datetime-local-input" class="col-2 col-form-label">Close Time</label>
        <div class="col-10">
          <input class="form-control" type="datetime-local" v-model="crowdsale.closingTime">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label">Rate</label>
        <div class="col-10">
          <input class="form-control" type="number" v-model="crowdsale.rate">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label">Goal</label>
        <div class="col-10">
          <input class="form-control" type="number" v-model="crowdsale.goal">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-number-input" class="col-2 col-form-label">Cap</label>
        <div class="col-10">
          <input class="form-control" type="number" v-model="crowdsale.cap">
        </div>
      </div>
      <div class="form-group row">
        <label for="example-text-input" class="col-2 col-form-label">Wallet Address</label>
        <div class="col-10">
          <input class="form-control" type="text" v-model="crowdsale.wallet">
        </div>
      </div>
      <div class="form-group row">
        <div class="col">
          <button v-on:click="handleCreate" class="btn btn-success btn-lg btn-block" style="margin-top:1rem;" type="button">Create</button>
        </div>
      </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="lib/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="lib/vue.js"></script>
    <script src="lib/bootstrap.min.js"></script>
    <script src="lib/moment.min.js"></script>
    <script src="lib/web3.min.js"></script>
    <script src="lib/truffle-contract.js"></script>
    <script src="js/creator.js"></script>
  </body>
</html>
